nav {
  margin-top: 100px;
  margin-top: 150px;
  background-color: var(--primary-color);
  overflow: hidden;
  height: 300px;
}
li {
  margin-right: 10px;
}
.nav-item a {
  text-decoration: none;
  display: flex;
  color: #fff;
  font-weight: 900;
}

.nav-link {
  text-transform: uppercase;
  display: flex;
}
