nav {
  margin-top: 0px;
  height: 150px;
  background-color: var(--navbar-footer-color);
  overflow: hidden;
}
li {
  margin-right: 10px;
}
.nav-item {
  display: flex;
  color: var(--primary-color);
  font-weight: 900;
}

.nav-item > a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}
.nav-link .site-logo img {
  width: 350px;
  height: 350px;
}
