<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About</h1>
    <div class="p-5 mt-4 bg-about-theme text-theme-primary">
      <div>
        <a class="about-image">
          <img [src]="photoPath" alt="about image" />
        </a>
      </div>
      <p>
        Greetings! I'm Jemima Osoro, a professional proficient in a wide range
        of software and web development skills. Additionally, I take pride in
        being the creator of this website! Web development has been a passion of
        mine for a long time. Following the completion of my Bachelor's degree
        in Information Technology, and subsequently earning a Masters in
        Information Systems, I dedicated substantial time to coding websites
        both for enjoyment and financial gain.
      </p>
      <br />
      <p>
        When I first started programming, I didn't enjoy it. I thought I'd never
        be able to become a real programmer. It felt like I was pretending.
        There always seemed to be new tools to figure out, and new problems to
        solve. Even though I have a degree, sometimes I felt like I was not very
        smart. How can anyone keep up with technology that keeps changing?<br />
        Luckily, I found that: - Writing about the topics I learned helps me
        understand my thoughts better.
        <br /><br />
        That’s why this website is created. It’s not just for helping other
        people, because it has helped me first.<br /><br />I will mostly focus
        on the Angular library because it does not have as large a community as
        ReactJs.
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
