<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
        assumenda quibusdam illum quaerat, eaque ut a eligendi nihil placeat, at
        sit in voluptatibus officiis suscipit beatae iure? Voluptatem quibusdam
        voluptas, quis, exercitationem molestiae esse blanditiis vero
        consectetur, tenetur animi facere nisi porro officiis beatae excepturi
        autem repellendus id hic aperiam officia quaerat adipisci. Quidem animi
        sequi nisi ut reiciendis commodi minima consequuntur odit. Doloribus,
        cupiditate et blanditiis quo harum asperiores est quaerat nulla ipsum
        accusamus reprehenderit unde fugit! Id similique possimus architecto
        quam praesentium facere recusandae voluptatibus doloribus consequuntur
        blanditiis. Repellat, dolorum facere esse dignissimos tempore quibusdam
        incidunt dolores laborum?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
        assumenda quibusdam illum quaerat, eaque ut a eligendi nihil placeat, at
        sit in voluptatibus officiis suscipit beatae iure? Voluptatem quibusdam
        voluptas, quis, exercitationem molestiae esse blanditiis vero
        consectetur, tenetur animi facere nisi porro officiis beatae excepturi
        autem repellendus id hic aperiam officia quaerat adipisci. Quidem animi
        sequi nisi ut reiciendis commodi minima consequuntur odit. Doloribus,
        cupiditate et blanditiis quo harum asperiores est quaerat nulla ipsum
        accusamus reprehenderit unde fugit! Id similique possimus architecto
        quam praesentium facere recusandae voluptatibus doloribus consequuntur
        blanditiis. Repellat, dolorum facere esse dignissimos tempore quibusdam
        incidunt dolores laborum?
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
